#footer {
  width: 100vw;
  overflow: hidden;
  height: 360px;
  background-color: black;
  position: relative;
  @include media(md) {
    height: 90px;
  }
  ._logo-f {
    width: 336px;
    @include media(md) {
      width: 170px;
      margin-top: -20px;
    }
  }
  ._cp {
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 61%;
    color: #cccccc;
    z-index: 1;
    @include media(md) {
      font-size: 11px;
      line-height: 18px;
    }
  }
}
