#debug-log {
  font-size: 12px;
  background-color: #df2c2f;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.nav-padding {
  padding-top: $nav-height;
  @include media(md) {
    padding-top: $nav-height-mobile;
  }
}

// preventing overflow-x
.sec-wrap {
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2;
  &.__absolute {
    height: 100vh;
    position: absolute;
  }
}

.scene-1 {
  width: 1920px;
  //height: 110vh;
  //height: 800px;
  left: 50%;
  //transform: translateX(-50%);
  transform-origin: center bottom;
  margin-left: (-1920px/2);
  //top: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  color: white;
  z-index: 1;
  //transition: height .5s;
  //transition-delay: 3s;
  @include media(lg) {
    //transform: scale(.75) translate(0, -17%);
    //height: 946px;
    //margin-bottom: -200px;
    //height: 75vh;
  }
  @include media(md) {
    transform: none !important;
    width: 100%;
    margin: 0;
    left: 0;
  }
  .para-item {
    position: absolute;
  }
  // reference
  .hide-md {
    .__ref {
      background: black url(#{$asset-path}imgs/ref-main.jpg) no-repeat bottom center;
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0;
      bottom: 0;
    }
    .__bg {
      width: 100%;
      height: 100%;
      left: 0;
      top: -50%;
      background: black url(#{$asset-path}imgs/bg-main.jpg) no-repeat top center;
      background-size: cover;
    }
    h2 {
      margin: 0 0 0 0;
      text-align: left;
      left: 498px;
      font-weight: 500;
      letter-spacing: 10px;
    }
    .__code-clam {
      z-index: 5;
      font-size: 207px;
      line-height: 207px;
      bottom: 572px;
    }
    .__and {
      z-index: 8;
      font-size: 197px;
      line-height: 197px;
      bottom: 403px;
    }
    .__craft {
      z-index: 8;
      font-size: 144px;
      line-height: 144px;
      bottom: 269px;
    }
    .__on {
      z-index: 5;
      font-size: 207px;
      line-height: 207px;
      bottom: 252px;
      left: 1192px;
    }
    .__astronaut {
      z-index: 7;
      bottom: 0;
      left: 50%;
      margin-left: -385px;
    }
    .__meteor0 {
      z-index: 6;
      left: 70px;
      bottom: -460px;
    }
    .__meteor1 {
      z-index: 1;
      left: 0;
      bottom: 295px;
    }
    .__meteor2 {
      z-index: 1;
      left: 0;
      top: -350px;
      //bottom: 315px;
    }
  }
  // Mobile
  // ----------------------------------------
  .show-md {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    //background: black url(#{$asset-path}imgs/bg-space-1.jpg) no-repeat top center;
    background: black url(#{$asset-path}imgs/bg-main-m.jpg) no-repeat top center;
    background-size: cover;
    & > * {
      position: absolute;
    }
    .__astronaut {
      width: 110vw;
      left: -5vw;
      bottom: 0;
    }
    .__title {
      z-index: 2;
      font-size: (58vw/3.2);
      line-height: (53vw/3.2);
      font-weight: 500;
      letter-spacing: (4vw/3.2);
      text-align: center;
      width: 100%;
      //top: 10vw;
      top: 93px;
      margin: 0;
      .__bottom {
        letter-spacing: (3.5vw/3.2);
      }
    }
    .__meteor-m {
      width: 100vw;
      height: auto;
      bottom: 110px;
    }
  }
}

#scroll-down {
  position: absolute;
  width: 100vw;
  top: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -64px;
  @include media(sm) {
    margin-top: -88px;
  }
  ._scroll-text {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 0 10px 0;
    @include media(sm) {
      font-size: 11px;
      line-height: 11px;
      margin: 0 0 6px 0;
    }
  }
  ._line {
    width: 1px;
    background-color: #ffffff;
  }
  .__top-line {
    height: 40px;
    background-color: $color1;
    @include media(sm) {
      background-color: #ffffff;
      height: 20px;
      margin: 0 0 51px 0;
    }
  }
  .__bottom-line {
    height: 160px;
    @include media(sm) {
      height: 60px;
    }
  }
}

#blue-text {
  top: -140px;
  z-index: 9;
  position: absolute;
  width: 100%;
  @include media(lg) {
    top: -110px;
  }
  @include media(md) {
    top: -100px;
  }
  @include media(sm) {
    top: -70px;
  }
  ._text {
    background-color: $color1;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 2px 10px;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 1px;
    @include media(md) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: .5px;
      padding: 2px 5px;
    }
    @include media(xs) {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: .5px;
      padding: 2px 5px;
    }
  }
}

#sec-service {
  margin-top: 100vh; // because sec-main position absolute

  // preventing address bar lag
  //transition: margin-top .5s;
  //transition-delay: 99s; // forever (but only this section)

  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  color: white;
  background-color: rgba(255, 0, 0, .1);
  overflow: hidden;
  top: 0;
  & > * {
    position: absolute;
  }
  ._ref-service {
    background: black url(#{$asset-path}imgs/refs/ref-service.jpg) no-repeat top center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .5;
    display: none;
  }
  .service-wrap {
    width: 100%;
    position: relative;
    height: 70vw;
    & > * {
      position: absolute;
    }
  }
  h3 {
    margin: 0;
    font-weight: 500;
  }
  ._bg-space {
    width: 100vw;
    height: 100vh;
    top: 0;
    background: black url(#{$asset-path}imgs/bg-space.jpg) no-repeat top center;
    background-size: cover;
    position: fixed;
  }
  .__meteor-s-top {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: -200px;
  }

  // Mobile
  // ----------------------------------------
  .service-wrap-m {
    //background: transparent url(#{$asset-path}imgs/refs/ref-service-m.jpg) no-repeat top center;
    //background-size: 100% auto;
    width: 100%;
    position: relative;
    height: 170vw;
    & > * {
      position: absolute;
    }
    ._m_seo {
      font-size: (240vw/6.4);
      line-height: (45vw/6.4);
      letter-spacing: 1.5vw;
      top: 18.8vw;
      //transform: translate(0, 18.8vw);
      left: 41vw;
      ._sub-title {
        font-size: (38vw/6.4);
        line-height: (38vw/6.4);
        letter-spacing: .1vw;
      }
    }
    ._m_ux {
      font-size: (90vw/6.4);
      line-height: (56vw/6.4);
      letter-spacing: .7vw;
      top: 48.8vw;
      left: 3.1vw;
    }
    ._m_ui {
      font-size: (42vw/6.4);
      line-height: (42vw/6.4);
      letter-spacing: 0;
      top: 74.5vw;
      left: 12.5vw;
    }
    ._m_web-dev {
      font-size: (95vw/6.4);
      line-height: (60vw/6.4);
      top: 75.8vw;
      left: 34vw;
      text-align: right;
      ._sub-title {
        font-size: (80vw/6.4);
      }
    }
    ._m_webs {
      font-size: (158vw/6.4);
      line-height: (60vw/6.4);
      top: 105.8vw;
      left: 3.2vw;
      display: flex;
      font-weight: 500;
      letter-spacing: 1.1vw;
      ._ad {
        font-size: (30vw/6.4);
        line-height: (15vw/6.4);
        letter-spacing: .2vw;
      }
      ._cre {
        font-size: (68vw/6.4);
        line-height: (70vw/6.4);
        letter-spacing: .6vw;
      }
    }
    ._m_ecom {
      font-size: (60vw/6.4);
      line-height: (60vw/6.4);
      top: 126.8vw;
      left: 3.2vw;
      display: flex;
      font-weight: 500;
      letter-spacing: .5vw;
    }
    ._m_crm {
      font-size: (126vw/6.4);
      line-height: (20vw/6.4);
      top: 149.8vw;
      left: 49vw;
      letter-spacing: 1.1vw;
      ._sub {
        font-size: (16vw/6.4);
        letter-spacing: .2vw;
      }
    }
  }

  // Excerpt
  // ----------------------------------------
  ._excerpt {
    width: 100%;
    position: relative;
    margin: 210px 0 0 0;
    @include media(lg) {
      margin: 210px 0 50px 0;
    }
    @include media(md) {
      margin: 170px 0 50px 0;
    }
    @include media(sm) {
      margin: 110px 0 50px 0;
    }
    .__title-service {
      font-size: 150px;
      line-height: 150px;
      overflow: hidden;
      height: 75px;
      letter-spacing: 10px;
      opacity: .05;
      position: relative;
      z-index: 1;
      @include media(sm) {
        height: 12vw;
        overflow: visible;
        font-weight: 500;
      }
      @include media(xs) {
        font-size: (80vw/3.2);
        line-height: (80vw/3.2);
        letter-spacing: 2vw;
      }
    }
    .__text {
      background-color: #0a0a0a;
      text-align: center;
      width: auto;
      font-size: 26px;
      line-height: 30px;
      padding: 0 15px;
      letter-spacing: 1px;
      @include media(md) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    .__text-m {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      @include media(xs) {
        font-size: (16vw/3.2);
        line-height: (20vw/3.2);
        letter-spacing: .4vw;
      }
    }
  }

  // Service Titles
  // ----------------------------------------
  .__ux {
    font-size: (140vw/18);
    line-height: (82vw/18);
    letter-spacing: .4vw;
    top: 16.8vw;
    left: 3vw;
  }
  .__seo {
    font-size: (350vw/18);
    line-height: (67vw/18);
    letter-spacing: .9vw;
    top: 13.4vw; // 31.8vw;
    left: 52.1vw;
    ._sub-title {
      font-size: (53vw/18);
      letter-spacing: .115vw;
    }
  }
  .__web-dev {
    font-size: (140vw/18);
    line-height: (90vw/18);
    letter-spacing: 0;
    top: 25.7vw;
    left: 61.2vw;
    text-align: right;
    ._sub-title {
      font-size: (120vw/18);
    }
  }
  .__ui {
    font-size: (60vw/18);
    line-height: (60vw/18);
    letter-spacing: 0;
    top: 33.6vw;
    left: 41.3vw;
  }
  .__webc {
    font-size: (225vw/18);
    line-height: (90vw/18);
    letter-spacing: .6vw;
    top: 41.2vw;
    left: 4vw;
    text-align: right;
    ._sub-title {
      font-size: (98vw/18);
      letter-spacing: .3vw;
    }
  }
  .__app {
    font-size: (44vw/18);
    line-height: (44vw/18);
    letter-spacing: .13vw;
    top: 41.0vw;
    left: 59vw;
  }
  .__ecom {
    font-size: (86vw/18);
    line-height: (86vw/18);
    letter-spacing: .24vw;
    top: 50.3vw;
    left: 52.7vw;
  }
  .__crm {
    font-size: (180vw/18);
    line-height: (28vw/18);
    letter-spacing: .45vw;
    top: 65.1vw;
    left: 47.7vw;
    ._sub-title {
      font-size: (24vw/18);
      letter-spacing: .08vw;
    }
  }
  .__astronaut-2 {
    top: 56.4vw;
    left: 31.4vw;
    width: 12.5vw;
  }

  // Falling Stars
  // ----------------------------------------
  .falling-star {
    height: 3vw;
    width: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
  .__fs-1 {
    top: 8vw;
    left: 28.5vw;
  }
  .__fs-2 {
    top: 22vw;
    left: 50vw;
  }
  .__fs-3 {
    top: 45.3vw;
    left: 71.7vw;
  }
  .__fs-4 {
    top: 60.6vw;
    left: 28.5vw;
  }
}

// trick for transform-scale
.service-2-wrap {
  @include media(lg) {
    height: 500px;
  }
  @include media(md) {
    height: auto;
  }
}

#sec-service-2 {
  width: 1800px;
  height: 700px;
  left: 50%;
  margin-left: -900px;
  position: relative;
  & > * {
    position: absolute;
  }
  @include media(lg) {
    transform: scale(.75) translate(0, -120px);
  }
  @include media(md) {
    left: 0;
    margin-left: 0;
    transform: unset;
    width: 100%;
    height: 70vw;
  }
  h4 {
    color: white;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    margin-top: 250px;
    @include media(sm) {
      font-size: (36vw/6.4);
      line-height: (46vw/6.4);
      margin-top: 16vw;
    }
  }
  .__meteor-s0 {
    top: 110px;
  }
  .__meteor-s1 {
    top: -250px;
    left: 200px;
  }
  .__meteor-s2 {
    top: -10vw;
  }
  // mobile
  .__meteor-s0-m {
    width: 100%;
  }
  .__meteor-s1-m {
    width: 100%;
    top: -60vw;
  }
}

#sec-work {
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 25px 0 40px 0;
  @include media(md) {
    padding: 25px 0 20px 0;
  }
  //background-color: rgba(255, 0, 0, .1);
  h2 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3.5px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    .__light {
      font-size: 44px;
      font-weight: 300;
      font-style: italic;
    }
    @include media(md) {
      font-size: 35px;
      .__light {
        font-size: 30px;
      }
    }
    @include media(sm) {
      text-transform: none;
      letter-spacing: 2px;
      font-size: 32px;
      line-height: 28px;
      .__light {
        font-style: unset;
        font-size: 23px;
      }
    }
  }
  ._desc {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    @include media(md) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

#work-carousel {
  margin: 60px 0 60px 0;
  @include media(sm) {
    margin: 5vw 0 5vw 0;
  }
  .wc-item {
    padding: 0 2.75vw;
    box-sizing: border-box;
    img {
      width: 100%;
    }
    @include media(md) {
      padding: 0 1.75vw;
    }
  }
}

#sec-client {
  width: 1920px;
  left: 50%;
  margin-left: (-1920px/2);
  position: relative;
  padding: 0 0 270px 0;
  @include media(fhd-plus) {
    width: 100%;
    margin-left: 0;
    left: 0;
    padding: 0 0 12vw 0;
  }
  @include media(lg) {
    width: 100%;
    margin-left: 0;
    left: 0;
    padding: 0 0 18vw 0;
  }
  @include media(md) {
    padding: 0 0 12vw 0;
  }
  ._v-line {
    background-color: white;
    width: 1px;
    height: 100px;
    @include media(sm) {
      height: 50px;
    }
  }
  h2 {
    width: 100%;
    text-align: center;
    margin: 70px 0 70px 0;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 3.5px;
    font-weight: 500;
    text-transform: uppercase;
    @include media(md) {
      margin: 20px 0 20px 0;
      font-size: 35px;
    }
    @include media(sm) {
      letter-spacing: 1px;
      font-size: 20px;
    }
  }
  .clients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1230px;
    padding: 0 10px;
    box-sizing: border-box;
    @include media(lg) {
      max-width: 800px;
    }
    ._client {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 175px;
      width: percentage(1/5);
      &:hover {
        opacity: .75;
      }
      @include media(lg) {
        height: 125px;
        img {
          transform: scale(.75);
        }
      }
      @include media(sm) {
        height: 95px;
        width: percentage(1/3);
        img {
          transform: scale(.6);
        }
      }
    }
  }
  ._hand {
    position: absolute;
    @include media(lg) {
      width: 20vw;
      //transform: scale(.6);
    }
    @include media(md) {
      display: none;
    }
  }
  .__hand-left {
    left: 0;
    bottom: 0;
    @include media(lg) {
      left: -4%;
      bottom: -3%;
    }
  }
  .__hand-right {
    right: 0;
    top: 0;
    @include media(lg) {
      right: -5%;
      bottom: 57%;
      top: unset;
    }
    @media (max-width: 1024px) {
      bottom: 55%;
    }
  }
}

#sec-about {
  position: relative;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  height: 900px;
  @include media(md) {
    height: 600px;
  }
  @include media(sm) {
    height: 116vw;
  }
  ._wrap {
    width: 100%;
    height: 100%;
    @include media(md) {
      width: 100%;
      height: 100%;
      transform: scale(.75);
    }
    @include media(sm) {
      transform: unset;
    }
  }
  ._craft-on {
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    letter-spacing: 10px;
    background-color: $color1;
    padding: 0 15px;
    z-index: 1;
    position: relative;
    //@include media(sm) {
    //  min-width: 560px; // fix line-wrap
    //}
    @include media(sm) {
      font-size: (30vw/3.2);
      letter-spacing: 1.25vw;
      padding: 0 3vw 0 4vw;
      line-height: 12vw;
      margin-top: 22vw;
    }
  }
  ._astronaut-3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 16%;
    z-index: 0;
    @include media(md) {
      top: 1%;
    }
    @include media(sm) {
      top: 18vw;
      left: 32vw;
      width: 70vw;
    }
  }
}

#sec-contact {
  width: 100vw;
  overflow: hidden;
  height: 700px;
  background-color: #0a0a0a;
  position: relative;
  display: flex;
  @include media(md) {
    height: unset;
  }
  @include media(xs) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: unset;
  }
  .contact-detail {
    width: 50%;
    //background: black url(#{$asset-path}imgs/refs/ref-contact.jpg) no-repeat top right;
    @include media(xs) {
      width: 100%;
    }
    ._inner {
      float: right;
      width: 100%;
      max-width: 590px;
      box-sizing: border-box;
      padding: 0 20px;
      @include media(md) {
        float: unset;
        padding: 0 10px;
      }
    }
  }
  h2 {
    margin: 92px 0 0 0;
    font-size: 50px;
    line-height: 54px;
    font-weight: 500;
    letter-spacing: 2.5px;
    @include media(md) {
      margin: 40px 0 0 0;
      font-size: 40px;
      line-height: 44px;
    }
  }
  h4 {
    margin: 26px 0 0 0;
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 1.5px;
    @include media(md) {
      margin: 20px 0 0 0;
      font-size: 20px;
      line-height: 24px;
    }
  }
  h5 {
    margin: -5px 0 0 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #cccccc;
    @include media(md) {
      margin: -3px 0 0 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
  p {
    margin: 18px 0 52px 0;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 1.2px;
    @include media(md) {
      margin: 10px 0 15px 0;
      font-size: 17px;
      line-height: 21px;
    }
  }
  ._contact {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: .75px;
    margin: 16px 0 0 0;
    @include media(md) {
      font-size: 20px;
      margin: 5px 0 0 0;
      img {
        transform: scale(.8) translate(0, 2px);
        margin-right: 5px !important;
      }
      span {
        font-size: 26px;
      }
    }
  }
  ._addr {
    margin: 20px 0 50px 0;
    @include media(md) {
      margin: 20px 0 20px 0;
    }
  }
  .__mail {
    width: 29px;
    margin: 0 10px -5px 0;
  }
  .__tel {
    width: 29px;
    margin: 0 10px -6px 0;
  }
  ._button {
    display: inline-block;
    margin: 60px 0 0 0;
    font-size: 28px;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 19px 45px;
    text-decoration: none;
    color: white;
    letter-spacing: 2.5px;
    @include media(md) {
      font-size: 21px;
      color: black;
      background-color: white;
      border-radius: 2px;
      width: 100%;
      text-align: center;
      padding: 18px 20px;
      margin: 40px 0 0 0;
    }
    @include media(xs) {
      font-size: 21px;
      margin: 60px 0 0 0;
      padding: 18px 20px;
    }
    &:hover {
      color: $color1;
      border-color: $color1;
    }
  }
  ._outro {
    margin: 50px 0 0 0;
    font-size: 22px;
    letter-spacing: .6px;
    color: #cccccc;
    @include media(md) {
      font-size: 13px;
      width: 100%;
      margin: 30px 0 30px 0;
    }
    @include media(xs) {
      text-align: center;
      margin: 40px 0 40px 0;
    }
  }

  // Map
  // ----------------------------------------
  .cnc-map {
    width: 50%;
    height: 100%;
    background: black url(#{$asset-path}imgs/map-placeholder.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    @include media(md) {
      min-height: 487px;
    }
    @include media(xs) {
      width: 100%;
      height: 100vw;
      min-height: unset;
    }
  }
}

#back-to-top {
  display: none;
  background-size: 100%;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  cursor: pointer;
  z-index: 11;
  opacity: .9;
  @media (hover: hover) {
    &:hover {
      opacity: .7;
    }
  }
  @include media(md) {
    bottom: 5vw;
    right: 3vw;
  }
  ._img {
    width: 46px;
    height: 46px;
  }
  ._label {
    color: $color1;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
    font-weight: bold;
    @include media(md) {
      display: none;
    }
  }
}
body.scrolled {
  #back-to-top {
    display: flex;
  }
}

