#main-nav {
  top: 0;
  left: 0;
  width: 100%;
  //background-color: #df2c2f;
  position: absolute;
  z-index: 11;
  padding: 40px 60px 20px 60px;
  box-sizing: border-box;
  @include media(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media(nav) {
    position: fixed;
    height: $nav-height-mobile;
    padding: 0;
  }
  .nav-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    opacity: 0;
    transition: opacity .5s ease-in-out;
    transition-delay: .3s;
    z-index: -1;
  }
  .nav-max {
    @include media(nav) {
      display: none;
    }
    width: 100%;
    display: flex;
  }
  .nav-logo {
    width: 270px;
  }
  .nav-list {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    .nav-item {
      text-decoration: none;
      color: white;
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 0 60px;
      letter-spacing: 1px;
      display: block;
      float: left;
      @media (max-width: 1460px) {
        margin: 0 0 0 40px;
      }
      &:hover {
        color: $color1;
      }
      &.active {
        color: $color1;
      }
    }
    .__search {
      height: 40px;
      display: flex !important;
      cursor: pointer;
      @extend %flex-center;
      img { width: 24px; }
    }
    .__lang-th {
      border: 1px solid #ffffff;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      display: flex !important;
      margin: 0 0 0 30px;
      @extend %flex-center;
      &:hover {
        color: white;
      }
    }
  }
  
  // Mobile
  // ----------------------------------------
  .nav-mini {
    width: 100%;
    height: 100%;
    @include media(nav-plus) {
      display: none;
    }
    @extend %flex-center;
    .nav-logo {
      @include media(md) {
        width: 200px;
      }
      @include media(sm) {
        width: 40vw;
        max-width: 200px;
      }
    }
    .__search-m {
      height: $nav-height-mobile;
      position: absolute;
      top: 0;
      right: 10px;
      @extend %flex-center;
      img { width: 24px; }
    }
  }
  #nav-toggle {
    display: inline-block;
    cursor: pointer;
    padding: 12px 0 16px 0;
    top: 10px;
    left: 10px;
    position: absolute;
    transition: all 300ms ease-in-out;
    z-index: 9;
    width: 24px;
    height: 24px;
    span {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 1.5em;
      background: #ffffff;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
      &:after, &:before {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 1.5em;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
  }
}

// Mobile - on expanded
// ----------------------------------------
.mobile-menu-expanded {
  // top bar
  #main-nav {
    #nav-toggle {
      top: 5px;
      span {
        background-color: transparent;
        &:before {
          top: 5px;
          transform: rotate(45deg);
        }
        &:after {
          top: 5px;
          transform: rotate(-45deg);
        }
      }
    }
    .nav-list {
      opacity: 1;
    }
  }

  // Expanded Content
  // ----------------------------------------
  #nav-expanded {
    display: block;
  }
}

#nav-expanded {
  display: none;
  //display: block;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: black;
  ._inner {
    width: 100%;
    height: 100%;
    @extend %flex-center;
    flex-direction: column;
  }
  .nav-item {
    text-decoration: none;
    color: white;
    font-size: 5vw;
    line-height: 10vw;
    letter-spacing: .5vw;
    @include media(sm) {
      font-size: 7.5vw;
      line-height: 13vw;
    }
  }
}

body.scrolled {
  #main-nav {
    @include media(nav-plus) {
      // sticky
      padding-top: 20px;
      position: fixed;
    }
  }
}

body.scrolled-far {
  #main-nav {
    .nav-bg {
      opacity: 1;
    }
  }
}

#search-popup {
  width: 100vw;
  height: 100px;
  background: rgba(0,0,0,.9);
  position: fixed;
  top: 90px;
  z-index: 13;
  box-sizing: border-box;
  padding: 0 10px;
  @extend %flex-center;
  display: none;
  @include media(nav) {
    top: $nav-height-mobile;
    height: 50px;
  }
  &.active {
    display: flex
  }
  ._inner {
    width: 100%;
    max-width: 750px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid white;
    display: flex;
    margin: -10px 0 0 0;
    @include media(nav) {
      margin: -5px 0 0 0;
    }
  }
  #search_text {
    color: white;
    font-size: 36px;
    line-height: 38px;
    background-color: transparent;
    border: none;
    outline: none;
    letter-spacing: .2vw;
    width: calc(80% - 40px);
    padding: 4px 20px;
    display: block;
    &::placeholder {
      color: #666666;
    }
    @include media(nav) {
      font-size: 25px;
      line-height: 27px;
      width: 100%;
      padding: 4px 10px;
    }
  }
  ._icon {
    //position: absolute;
    right: 30px;
    top: 10px;
    width: 24px;
    margin: 8px 20px 0 auto;
    opacity: .6;
    img {
      width: 100%;
    }
    @include media(nav) {
      display: none;
    }
  }
}
