// Responsive
// Note: must be in order
// ----------------------------------------

// Responsive
// Note lg must be as the width + padding
// --------------------------------

$responsive-slugs: xl, lg, md, sm, xs;

$bp-xs-min: 576px;
$bp-sm-min: 768px;
$bp-md-min: 992px;
//$bp-lg-min: #{$content-width-padded};
$bp-lg-min: 1399px; // 1200px (adjusted to content(container) width)
$bp-xl-min: 1600px;
$bp-fhd-min: 1921px;

$bp-xxs: 460px;
$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1400px;
$bp-xl: 1599px;

@mixin media($media) {
  @if $media == xxs {
    @media (max-width: $bp-xxs) {
      @content;
    }
  } @else if $media == xs {
    @media (max-width: $bp-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (max-width: $bp-sm) {
      @content;
    }
  } @else if $media == md {
    @media (max-width: $bp-md) {
      @content;
    }
  } @else if $media == lg {
    @media (max-width: $bp-lg) {
      @content;
    }
  } @else if $media == xl {
    @media (max-width: $bp-xl) {
      @content;
    }
  } @else if $media == xxl {
    @media (min-width: $bp-xl-min) {
      @content;
    }
  } @else if $media == xs-plus {
    @media (min-width: $bp-xs-min) {
      @content;
    }
  } @else if $media == sm-plus {
    @media (min-width: $bp-sm-min) {
      @content;
    }
  } @else if $media == md-plus {
    @media (min-width: $bp-md-min) {
      @content;
    }
  } @else if $media == lg-plus {
    @media (min-width: $bp-lg-min) {
      @content;
    }
  } @else if $media == xl-plus {
    @media (min-width: $bp-xl-min) {
      @content;
    }
  } @else if $media == fhd-plus {
    @media (min-width: $bp-fhd-min) {
      @content;
    }
  }

    // Special
    // ----------------------------------------
  @else if $media == nav {
    @media (max-width: 1199px) {
      @content;
    }
  }
  @else if $media == nav-plus {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Base 12
// ----------------------------------------

@include media(xs-plus) {
  .xs-col-6 {
    width: 50%;
  }
}

@include media(sm-plus) {
  .sm-col-6 {
    width: 50%;
  }
}

@include media(md-plus) {
  .md-col-6 {
    width: 50%;
  }
  .md-col-4 {
    width: 33.33%;
  }
  .md-col-3 {
    width: 25%;
  }
}

.ml-col {
  box-sizing: border-box;
}

// Show & Hide
// ----------------------------------------

@each $slug in $responsive-slugs {
  @include media(#{$slug}-plus) {
    .show-#{$slug} {
      display: none !important;
    }
  }
  @include media(#{$slug}) {
    .hide-#{$slug} {
      display: none !important;
    }
  }
}
