/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

#main-nav .nav-list .__search, #main-nav .nav-list .__lang-th, #main-nav .nav-mini, #main-nav .nav-mini .__search-m, #nav-expanded ._inner, #search-popup {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 576px) {
  .xs-col-6 {
    width: 50%; } }

@media (min-width: 768px) {
  .sm-col-6 {
    width: 50%; } }

@media (min-width: 992px) {
  .md-col-6 {
    width: 50%; }
  .md-col-4 {
    width: 33.33%; }
  .md-col-3 {
    width: 25%; } }

.ml-col {
  box-sizing: border-box; }

@media (min-width: 1600px) {
  .show-xl {
    display: none !important; } }

@media (max-width: 1599px) {
  .hide-xl {
    display: none !important; } }

@media (min-width: 1399px) {
  .show-lg {
    display: none !important; } }

@media (max-width: 1400px) {
  .hide-lg {
    display: none !important; } }

@media (min-width: 992px) {
  .show-md {
    display: none !important; } }

@media (max-width: 991px) {
  .hide-md {
    display: none !important; } }

@media (min-width: 768px) {
  .show-sm {
    display: none !important; } }

@media (max-width: 767px) {
  .hide-sm {
    display: none !important; } }

@media (min-width: 576px) {
  .show-xs {
    display: none !important; } }

@media (max-width: 575px) {
  .hide-xs {
    display: none !important; } }

body {
  background-color: #ffffff;
  font-family: "db_helvethaicax", sans-serif;
  overflow-x: hidden;
  color: #ffffff;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  body.mobile-menu-expanded {
    overflow-y: hidden; }
  body.body-no-scroll {
    overflow-y: hidden; }

.font1 {
  font-family: "db_helvethaicax", sans-serif; }

.font2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.font3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.color1 {
  color: #37b7f7; }

.color2 {
  color: #000000; }

.color-danger {
  color: #df2c2f; }

.color-font {
  color: #ffffff; }

.bold {
  font-weight: bold; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-h-center {
  display: flex;
  justify-content: center; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.layout-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .layout-outer {
      padding: 0 10px; } }

.layout-inner {
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box; }

.ts-btn {
  width: 300px;
  height: 67px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37b7f7;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none; }
  .ts-btn:hover {
    background-color: #bf022a; }
  .ts-btn.ts-btn-black {
    background-color: black; }
    .ts-btn.ts-btn-black:hover {
      background-color: #555555; }
  @media (max-width: 767px) {
    .ts-btn {
      font-size: 15px;
      width: 150px;
      height: 35px; } }

#debug-log {
  font-size: 12px;
  background-color: #df2c2f;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99; }

.nav-padding {
  padding-top: 122px; }
  @media (max-width: 991px) {
    .nav-padding {
      padding-top: 45px; } }

.sec-wrap {
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2; }
  .sec-wrap.__absolute {
    height: 100vh;
    position: absolute; }

.scene-1 {
  width: 1920px;
  left: 50%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  margin-left: -960px;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  color: white;
  z-index: 1; }
  @media (max-width: 991px) {
    .scene-1 {
      -webkit-transform: none !important;
              transform: none !important;
      width: 100%;
      margin: 0;
      left: 0; } }
  .scene-1 .para-item {
    position: absolute; }
  .scene-1 .hide-md .__ref {
    background: black url(../imgs/ref-main.jpg) no-repeat bottom center;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    bottom: 0; }
  .scene-1 .hide-md .__bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: -50%;
    background: black url(../imgs/bg-main.jpg) no-repeat top center;
    background-size: cover; }
  .scene-1 .hide-md h2 {
    margin: 0 0 0 0;
    text-align: left;
    left: 498px;
    font-weight: 500;
    letter-spacing: 10px; }
  .scene-1 .hide-md .__code-clam {
    z-index: 5;
    font-size: 207px;
    line-height: 207px;
    bottom: 572px; }
  .scene-1 .hide-md .__and {
    z-index: 8;
    font-size: 197px;
    line-height: 197px;
    bottom: 403px; }
  .scene-1 .hide-md .__craft {
    z-index: 8;
    font-size: 144px;
    line-height: 144px;
    bottom: 269px; }
  .scene-1 .hide-md .__on {
    z-index: 5;
    font-size: 207px;
    line-height: 207px;
    bottom: 252px;
    left: 1192px; }
  .scene-1 .hide-md .__astronaut {
    z-index: 7;
    bottom: 0;
    left: 50%;
    margin-left: -385px; }
  .scene-1 .hide-md .__meteor0 {
    z-index: 6;
    left: 70px;
    bottom: -460px; }
  .scene-1 .hide-md .__meteor1 {
    z-index: 1;
    left: 0;
    bottom: 295px; }
  .scene-1 .hide-md .__meteor2 {
    z-index: 1;
    left: 0;
    top: -350px; }
  .scene-1 .show-md {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: black url(../imgs/bg-main-m.jpg) no-repeat top center;
    background-size: cover; }
    .scene-1 .show-md > * {
      position: absolute; }
    .scene-1 .show-md .__astronaut {
      width: 110vw;
      left: -5vw;
      bottom: 0; }
    .scene-1 .show-md .__title {
      z-index: 2;
      font-size: 18.125vw;
      line-height: 16.5625vw;
      font-weight: 500;
      letter-spacing: 1.25vw;
      text-align: center;
      width: 100%;
      top: 93px;
      margin: 0; }
      .scene-1 .show-md .__title .__bottom {
        letter-spacing: 1.09375vw; }
    .scene-1 .show-md .__meteor-m {
      width: 100vw;
      height: auto;
      bottom: 110px; }

#scroll-down {
  position: absolute;
  width: 100vw;
  top: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -64px; }
  @media (max-width: 767px) {
    #scroll-down {
      margin-top: -88px; } }
  #scroll-down ._scroll-text {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 0 10px 0; }
    @media (max-width: 767px) {
      #scroll-down ._scroll-text {
        font-size: 11px;
        line-height: 11px;
        margin: 0 0 6px 0; } }
  #scroll-down ._line {
    width: 1px;
    background-color: #ffffff; }
  #scroll-down .__top-line {
    height: 40px;
    background-color: #37b7f7; }
    @media (max-width: 767px) {
      #scroll-down .__top-line {
        background-color: #ffffff;
        height: 20px;
        margin: 0 0 51px 0; } }
  #scroll-down .__bottom-line {
    height: 160px; }
    @media (max-width: 767px) {
      #scroll-down .__bottom-line {
        height: 60px; } }

#blue-text {
  top: -140px;
  z-index: 9;
  position: absolute;
  width: 100%; }
  @media (max-width: 1400px) {
    #blue-text {
      top: -110px; } }
  @media (max-width: 991px) {
    #blue-text {
      top: -100px; } }
  @media (max-width: 767px) {
    #blue-text {
      top: -70px; } }
  #blue-text ._text {
    background-color: #37b7f7;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 2px 10px;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 1px; }
    @media (max-width: 991px) {
      #blue-text ._text {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: .5px;
        padding: 2px 5px; } }
    @media (max-width: 575px) {
      #blue-text ._text {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: .5px;
        padding: 2px 5px; } }

#sec-service {
  margin-top: 100vh;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  color: white;
  background-color: rgba(255, 0, 0, 0.1);
  overflow: hidden;
  top: 0; }
  #sec-service > * {
    position: absolute; }
  #sec-service ._ref-service {
    background: black url(../imgs/refs/ref-service.jpg) no-repeat top center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .5;
    display: none; }
  #sec-service .service-wrap {
    width: 100%;
    position: relative;
    height: 70vw; }
    #sec-service .service-wrap > * {
      position: absolute; }
  #sec-service h3 {
    margin: 0;
    font-weight: 500; }
  #sec-service ._bg-space {
    width: 100vw;
    height: 100vh;
    top: 0;
    background: black url(../imgs/bg-space.jpg) no-repeat top center;
    background-size: cover;
    position: fixed; }
  #sec-service .__meteor-s-top {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: -200px; }
  #sec-service .service-wrap-m {
    width: 100%;
    position: relative;
    height: 170vw; }
    #sec-service .service-wrap-m > * {
      position: absolute; }
    #sec-service .service-wrap-m ._m_seo {
      font-size: 37.5vw;
      line-height: 7.03125vw;
      letter-spacing: 1.5vw;
      top: 18.8vw;
      left: 41vw; }
      #sec-service .service-wrap-m ._m_seo ._sub-title {
        font-size: 5.9375vw;
        line-height: 5.9375vw;
        letter-spacing: .1vw; }
    #sec-service .service-wrap-m ._m_ux {
      font-size: 14.0625vw;
      line-height: 8.75vw;
      letter-spacing: .7vw;
      top: 48.8vw;
      left: 3.1vw; }
    #sec-service .service-wrap-m ._m_ui {
      font-size: 6.5625vw;
      line-height: 6.5625vw;
      letter-spacing: 0;
      top: 74.5vw;
      left: 12.5vw; }
    #sec-service .service-wrap-m ._m_web-dev {
      font-size: 14.84375vw;
      line-height: 9.375vw;
      top: 75.8vw;
      left: 34vw;
      text-align: right; }
      #sec-service .service-wrap-m ._m_web-dev ._sub-title {
        font-size: 12.5vw; }
    #sec-service .service-wrap-m ._m_webs {
      font-size: 24.6875vw;
      line-height: 9.375vw;
      top: 105.8vw;
      left: 3.2vw;
      display: flex;
      font-weight: 500;
      letter-spacing: 1.1vw; }
      #sec-service .service-wrap-m ._m_webs ._ad {
        font-size: 4.6875vw;
        line-height: 2.34375vw;
        letter-spacing: .2vw; }
      #sec-service .service-wrap-m ._m_webs ._cre {
        font-size: 10.625vw;
        line-height: 10.9375vw;
        letter-spacing: .6vw; }
    #sec-service .service-wrap-m ._m_ecom {
      font-size: 9.375vw;
      line-height: 9.375vw;
      top: 126.8vw;
      left: 3.2vw;
      display: flex;
      font-weight: 500;
      letter-spacing: .5vw; }
    #sec-service .service-wrap-m ._m_crm {
      font-size: 19.6875vw;
      line-height: 3.125vw;
      top: 149.8vw;
      left: 49vw;
      letter-spacing: 1.1vw; }
      #sec-service .service-wrap-m ._m_crm ._sub {
        font-size: 2.5vw;
        letter-spacing: .2vw; }
  #sec-service ._excerpt {
    width: 100%;
    position: relative;
    margin: 210px 0 0 0; }
    @media (max-width: 1400px) {
      #sec-service ._excerpt {
        margin: 210px 0 50px 0; } }
    @media (max-width: 991px) {
      #sec-service ._excerpt {
        margin: 170px 0 50px 0; } }
    @media (max-width: 767px) {
      #sec-service ._excerpt {
        margin: 110px 0 50px 0; } }
    #sec-service ._excerpt .__title-service {
      font-size: 150px;
      line-height: 150px;
      overflow: hidden;
      height: 75px;
      letter-spacing: 10px;
      opacity: .05;
      position: relative;
      z-index: 1; }
      @media (max-width: 767px) {
        #sec-service ._excerpt .__title-service {
          height: 12vw;
          overflow: visible;
          font-weight: 500; } }
      @media (max-width: 575px) {
        #sec-service ._excerpt .__title-service {
          font-size: 25vw;
          line-height: 25vw;
          letter-spacing: 2vw; } }
    #sec-service ._excerpt .__text {
      background-color: #0a0a0a;
      text-align: center;
      width: auto;
      font-size: 26px;
      line-height: 30px;
      padding: 0 15px;
      letter-spacing: 1px; }
      @media (max-width: 991px) {
        #sec-service ._excerpt .__text {
          font-size: 20px;
          line-height: 24px; } }
    #sec-service ._excerpt .__text-m {
      font-size: 20px;
      line-height: 24px;
      text-align: center; }
      @media (max-width: 575px) {
        #sec-service ._excerpt .__text-m {
          font-size: 5vw;
          line-height: 6.25vw;
          letter-spacing: .4vw; } }
  #sec-service .__ux {
    font-size: 7.77778vw;
    line-height: 4.55556vw;
    letter-spacing: .4vw;
    top: 16.8vw;
    left: 3vw; }
  #sec-service .__seo {
    font-size: 19.44444vw;
    line-height: 3.72222vw;
    letter-spacing: .9vw;
    top: 13.4vw;
    left: 52.1vw; }
    #sec-service .__seo ._sub-title {
      font-size: 2.94444vw;
      letter-spacing: .115vw; }
  #sec-service .__web-dev {
    font-size: 7.77778vw;
    line-height: 5vw;
    letter-spacing: 0;
    top: 25.7vw;
    left: 61.2vw;
    text-align: right; }
    #sec-service .__web-dev ._sub-title {
      font-size: 6.66667vw; }
  #sec-service .__ui {
    font-size: 3.33333vw;
    line-height: 3.33333vw;
    letter-spacing: 0;
    top: 33.6vw;
    left: 41.3vw; }
  #sec-service .__webc {
    font-size: 12.5vw;
    line-height: 5vw;
    letter-spacing: .6vw;
    top: 41.2vw;
    left: 4vw;
    text-align: right; }
    #sec-service .__webc ._sub-title {
      font-size: 5.44444vw;
      letter-spacing: .3vw; }
  #sec-service .__app {
    font-size: 2.44444vw;
    line-height: 2.44444vw;
    letter-spacing: .13vw;
    top: 41.0vw;
    left: 59vw; }
  #sec-service .__ecom {
    font-size: 4.77778vw;
    line-height: 4.77778vw;
    letter-spacing: .24vw;
    top: 50.3vw;
    left: 52.7vw; }
  #sec-service .__crm {
    font-size: 10vw;
    line-height: 1.55556vw;
    letter-spacing: .45vw;
    top: 65.1vw;
    left: 47.7vw; }
    #sec-service .__crm ._sub-title {
      font-size: 1.33333vw;
      letter-spacing: .08vw; }
  #sec-service .__astronaut-2 {
    top: 56.4vw;
    left: 31.4vw;
    width: 12.5vw; }
  #sec-service .falling-star {
    height: 3vw;
    width: 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }
  #sec-service .__fs-1 {
    top: 8vw;
    left: 28.5vw; }
  #sec-service .__fs-2 {
    top: 22vw;
    left: 50vw; }
  #sec-service .__fs-3 {
    top: 45.3vw;
    left: 71.7vw; }
  #sec-service .__fs-4 {
    top: 60.6vw;
    left: 28.5vw; }

@media (max-width: 1400px) {
  .service-2-wrap {
    height: 500px; } }

@media (max-width: 991px) {
  .service-2-wrap {
    height: auto; } }

#sec-service-2 {
  width: 1800px;
  height: 700px;
  left: 50%;
  margin-left: -900px;
  position: relative; }
  #sec-service-2 > * {
    position: absolute; }
  @media (max-width: 1400px) {
    #sec-service-2 {
      -webkit-transform: scale(0.75) translate(0, -120px);
              transform: scale(0.75) translate(0, -120px); } }
  @media (max-width: 991px) {
    #sec-service-2 {
      left: 0;
      margin-left: 0;
      -webkit-transform: unset;
              transform: unset;
      width: 100%;
      height: 70vw; } }
  #sec-service-2 h4 {
    color: white;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    margin-top: 250px; }
    @media (max-width: 767px) {
      #sec-service-2 h4 {
        font-size: 5.625vw;
        line-height: 7.1875vw;
        margin-top: 16vw; } }
  #sec-service-2 .__meteor-s0 {
    top: 110px; }
  #sec-service-2 .__meteor-s1 {
    top: -250px;
    left: 200px; }
  #sec-service-2 .__meteor-s2 {
    top: -10vw; }
  #sec-service-2 .__meteor-s0-m {
    width: 100%; }
  #sec-service-2 .__meteor-s1-m {
    width: 100%;
    top: -60vw; }

#sec-work {
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 25px 0 40px 0; }
  @media (max-width: 991px) {
    #sec-work {
      padding: 25px 0 20px 0; } }
  #sec-work h2 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3.5px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0; }
    #sec-work h2 .__light {
      font-size: 44px;
      font-weight: 300;
      font-style: italic; }
    @media (max-width: 991px) {
      #sec-work h2 {
        font-size: 35px; }
        #sec-work h2 .__light {
          font-size: 30px; } }
    @media (max-width: 767px) {
      #sec-work h2 {
        text-transform: none;
        letter-spacing: 2px;
        font-size: 32px;
        line-height: 28px; }
        #sec-work h2 .__light {
          font-style: unset;
          font-size: 23px; } }
  #sec-work ._desc {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 22px; }
    @media (max-width: 991px) {
      #sec-work ._desc {
        font-size: 16px;
        line-height: 20px; } }

#work-carousel {
  margin: 60px 0 60px 0; }
  @media (max-width: 767px) {
    #work-carousel {
      margin: 5vw 0 5vw 0; } }
  #work-carousel .wc-item {
    padding: 0 2.75vw;
    box-sizing: border-box; }
    #work-carousel .wc-item img {
      width: 100%; }
    @media (max-width: 991px) {
      #work-carousel .wc-item {
        padding: 0 1.75vw; } }

#sec-client {
  width: 1920px;
  left: 50%;
  margin-left: -960px;
  position: relative;
  padding: 0 0 270px 0; }
  @media (min-width: 1921px) {
    #sec-client {
      width: 100%;
      margin-left: 0;
      left: 0;
      padding: 0 0 12vw 0; } }
  @media (max-width: 1400px) {
    #sec-client {
      width: 100%;
      margin-left: 0;
      left: 0;
      padding: 0 0 18vw 0; } }
  @media (max-width: 991px) {
    #sec-client {
      padding: 0 0 12vw 0; } }
  #sec-client ._v-line {
    background-color: white;
    width: 1px;
    height: 100px; }
    @media (max-width: 767px) {
      #sec-client ._v-line {
        height: 50px; } }
  #sec-client h2 {
    width: 100%;
    text-align: center;
    margin: 70px 0 70px 0;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 3.5px;
    font-weight: 500;
    text-transform: uppercase; }
    @media (max-width: 991px) {
      #sec-client h2 {
        margin: 20px 0 20px 0;
        font-size: 35px; } }
    @media (max-width: 767px) {
      #sec-client h2 {
        letter-spacing: 1px;
        font-size: 20px; } }
  #sec-client .clients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1230px;
    padding: 0 10px;
    box-sizing: border-box; }
    @media (max-width: 1400px) {
      #sec-client .clients {
        max-width: 800px; } }
    #sec-client .clients ._client {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 175px;
      width: 20%; }
      #sec-client .clients ._client:hover {
        opacity: .75; }
      @media (max-width: 1400px) {
        #sec-client .clients ._client {
          height: 125px; }
          #sec-client .clients ._client img {
            -webkit-transform: scale(0.75);
                    transform: scale(0.75); } }
      @media (max-width: 767px) {
        #sec-client .clients ._client {
          height: 95px;
          width: 33.33333%; }
          #sec-client .clients ._client img {
            -webkit-transform: scale(0.6);
                    transform: scale(0.6); } }
  #sec-client ._hand {
    position: absolute; }
    @media (max-width: 1400px) {
      #sec-client ._hand {
        width: 20vw; } }
    @media (max-width: 991px) {
      #sec-client ._hand {
        display: none; } }
  #sec-client .__hand-left {
    left: 0;
    bottom: 0; }
    @media (max-width: 1400px) {
      #sec-client .__hand-left {
        left: -4%;
        bottom: -3%; } }
  #sec-client .__hand-right {
    right: 0;
    top: 0; }
    @media (max-width: 1400px) {
      #sec-client .__hand-right {
        right: -5%;
        bottom: 57%;
        top: unset; } }
    @media (max-width: 1024px) {
      #sec-client .__hand-right {
        bottom: 55%; } }

#sec-about {
  position: relative;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  height: 900px; }
  @media (max-width: 991px) {
    #sec-about {
      height: 600px; } }
  @media (max-width: 767px) {
    #sec-about {
      height: 116vw; } }
  #sec-about ._wrap {
    width: 100%;
    height: 100%; }
    @media (max-width: 991px) {
      #sec-about ._wrap {
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0.75);
                transform: scale(0.75); } }
    @media (max-width: 767px) {
      #sec-about ._wrap {
        -webkit-transform: unset;
                transform: unset; } }
  #sec-about ._craft-on {
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    letter-spacing: 10px;
    background-color: #37b7f7;
    padding: 0 15px;
    z-index: 1;
    position: relative; }
    @media (max-width: 767px) {
      #sec-about ._craft-on {
        font-size: 9.375vw;
        letter-spacing: 1.25vw;
        padding: 0 3vw 0 4vw;
        line-height: 12vw;
        margin-top: 22vw; } }
  #sec-about ._astronaut-3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 16%;
    z-index: 0; }
    @media (max-width: 991px) {
      #sec-about ._astronaut-3 {
        top: 1%; } }
    @media (max-width: 767px) {
      #sec-about ._astronaut-3 {
        top: 18vw;
        left: 32vw;
        width: 70vw; } }

#sec-contact {
  width: 100vw;
  overflow: hidden;
  height: 700px;
  background-color: #0a0a0a;
  position: relative;
  display: flex; }
  @media (max-width: 991px) {
    #sec-contact {
      height: unset; } }
  @media (max-width: 575px) {
    #sec-contact {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      height: unset; } }
  #sec-contact .contact-detail {
    width: 50%; }
    @media (max-width: 575px) {
      #sec-contact .contact-detail {
        width: 100%; } }
    #sec-contact .contact-detail ._inner {
      float: right;
      width: 100%;
      max-width: 590px;
      box-sizing: border-box;
      padding: 0 20px; }
      @media (max-width: 991px) {
        #sec-contact .contact-detail ._inner {
          float: unset;
          padding: 0 10px; } }
  #sec-contact h2 {
    margin: 92px 0 0 0;
    font-size: 50px;
    line-height: 54px;
    font-weight: 500;
    letter-spacing: 2.5px; }
    @media (max-width: 991px) {
      #sec-contact h2 {
        margin: 40px 0 0 0;
        font-size: 40px;
        line-height: 44px; } }
  #sec-contact h4 {
    margin: 26px 0 0 0;
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 1.5px; }
    @media (max-width: 991px) {
      #sec-contact h4 {
        margin: 20px 0 0 0;
        font-size: 20px;
        line-height: 24px; } }
  #sec-contact h5 {
    margin: -5px 0 0 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #cccccc; }
    @media (max-width: 991px) {
      #sec-contact h5 {
        margin: -3px 0 0 0;
        font-size: 12px;
        line-height: 18px; } }
  #sec-contact p {
    margin: 18px 0 52px 0;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 1.2px; }
    @media (max-width: 991px) {
      #sec-contact p {
        margin: 10px 0 15px 0;
        font-size: 17px;
        line-height: 21px; } }
  #sec-contact ._contact {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: .75px;
    margin: 16px 0 0 0; }
    @media (max-width: 991px) {
      #sec-contact ._contact {
        font-size: 20px;
        margin: 5px 0 0 0; }
        #sec-contact ._contact img {
          -webkit-transform: scale(0.8) translate(0, 2px);
                  transform: scale(0.8) translate(0, 2px);
          margin-right: 5px !important; }
        #sec-contact ._contact span {
          font-size: 26px; } }
  #sec-contact ._addr {
    margin: 20px 0 50px 0; }
    @media (max-width: 991px) {
      #sec-contact ._addr {
        margin: 20px 0 20px 0; } }
  #sec-contact .__mail {
    width: 29px;
    margin: 0 10px -5px 0; }
  #sec-contact .__tel {
    width: 29px;
    margin: 0 10px -6px 0; }
  #sec-contact ._button {
    display: inline-block;
    margin: 60px 0 0 0;
    font-size: 28px;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 19px 45px;
    text-decoration: none;
    color: white;
    letter-spacing: 2.5px; }
    @media (max-width: 991px) {
      #sec-contact ._button {
        font-size: 21px;
        color: black;
        background-color: white;
        border-radius: 2px;
        width: 100%;
        text-align: center;
        padding: 18px 20px;
        margin: 40px 0 0 0; } }
    @media (max-width: 575px) {
      #sec-contact ._button {
        font-size: 21px;
        margin: 60px 0 0 0;
        padding: 18px 20px; } }
    #sec-contact ._button:hover {
      color: #37b7f7;
      border-color: #37b7f7; }
  #sec-contact ._outro {
    margin: 50px 0 0 0;
    font-size: 22px;
    letter-spacing: .6px;
    color: #cccccc; }
    @media (max-width: 991px) {
      #sec-contact ._outro {
        font-size: 13px;
        width: 100%;
        margin: 30px 0 30px 0; } }
    @media (max-width: 575px) {
      #sec-contact ._outro {
        text-align: center;
        margin: 40px 0 40px 0; } }
  #sec-contact .cnc-map {
    width: 50%;
    height: 100%;
    background: black url(../imgs/map-placeholder.jpg) no-repeat center center;
    background-size: cover;
    position: relative; }
    @media (max-width: 991px) {
      #sec-contact .cnc-map {
        min-height: 487px; } }
    @media (max-width: 575px) {
      #sec-contact .cnc-map {
        width: 100%;
        height: 100vw;
        min-height: unset; } }

#back-to-top {
  display: none;
  background-size: 100%;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  cursor: pointer;
  z-index: 11;
  opacity: .9; }
  @media (hover: hover) {
    #back-to-top:hover {
      opacity: .7; } }
  @media (max-width: 991px) {
    #back-to-top {
      bottom: 5vw;
      right: 3vw; } }
  #back-to-top ._img {
    width: 46px;
    height: 46px; }
  #back-to-top ._label {
    color: #37b7f7;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
    font-weight: bold; }
    @media (max-width: 991px) {
      #back-to-top ._label {
        display: none; } }

body.scrolled #back-to-top {
  display: flex; }

#main-nav {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 11;
  padding: 40px 60px 20px 60px;
  box-sizing: border-box; }
  @media (max-width: 1400px) {
    #main-nav {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 1199px) {
    #main-nav {
      position: fixed;
      height: 45px;
      padding: 0; } }
  #main-nav .nav-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity .5s ease-in-out;
    transition-delay: .3s;
    z-index: -1; }
  #main-nav .nav-max {
    width: 100%;
    display: flex; }
    @media (max-width: 1199px) {
      #main-nav .nav-max {
        display: none; } }
  #main-nav .nav-logo {
    width: 270px; }
  #main-nav .nav-list {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center; }
    #main-nav .nav-list .nav-item {
      text-decoration: none;
      color: white;
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 0 60px;
      letter-spacing: 1px;
      display: block;
      float: left; }
      @media (max-width: 1460px) {
        #main-nav .nav-list .nav-item {
          margin: 0 0 0 40px; } }
      #main-nav .nav-list .nav-item:hover {
        color: #37b7f7; }
      #main-nav .nav-list .nav-item.active {
        color: #37b7f7; }
    #main-nav .nav-list .__search {
      height: 40px;
      display: flex !important;
      cursor: pointer; }
      #main-nav .nav-list .__search img {
        width: 24px; }
    #main-nav .nav-list .__lang-th {
      border: 1px solid #ffffff;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      display: flex !important;
      margin: 0 0 0 30px; }
      #main-nav .nav-list .__lang-th:hover {
        color: white; }
  #main-nav .nav-mini {
    width: 100%;
    height: 100%; }
    @media (min-width: 1200px) {
      #main-nav .nav-mini {
        display: none; } }
    @media (max-width: 991px) {
      #main-nav .nav-mini .nav-logo {
        width: 200px; } }
    @media (max-width: 767px) {
      #main-nav .nav-mini .nav-logo {
        width: 40vw;
        max-width: 200px; } }
    #main-nav .nav-mini .__search-m {
      height: 45px;
      position: absolute;
      top: 0;
      right: 10px; }
      #main-nav .nav-mini .__search-m img {
        width: 24px; }
  #main-nav #nav-toggle {
    display: inline-block;
    cursor: pointer;
    padding: 12px 0 16px 0;
    top: 10px;
    left: 10px;
    position: absolute;
    transition: all 300ms ease-in-out;
    z-index: 9;
    width: 24px;
    height: 24px; }
    #main-nav #nav-toggle span {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 1.5em;
      background: #ffffff;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out; }
      #main-nav #nav-toggle span:after, #main-nav #nav-toggle span:before {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 1.5em;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out; }
      #main-nav #nav-toggle span:before {
        top: -8px; }
      #main-nav #nav-toggle span:after {
        bottom: -8px; }

.mobile-menu-expanded #main-nav #nav-toggle {
  top: 5px; }
  .mobile-menu-expanded #main-nav #nav-toggle span {
    background-color: transparent; }
    .mobile-menu-expanded #main-nav #nav-toggle span:before {
      top: 5px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .mobile-menu-expanded #main-nav #nav-toggle span:after {
      top: 5px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.mobile-menu-expanded #main-nav .nav-list {
  opacity: 1; }

.mobile-menu-expanded #nav-expanded {
  display: block; }

#nav-expanded {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: black; }
  #nav-expanded ._inner {
    width: 100%;
    height: 100%;
    flex-direction: column; }
  #nav-expanded .nav-item {
    text-decoration: none;
    color: white;
    font-size: 5vw;
    line-height: 10vw;
    letter-spacing: .5vw; }
    @media (max-width: 767px) {
      #nav-expanded .nav-item {
        font-size: 7.5vw;
        line-height: 13vw; } }

@media (min-width: 1200px) {
  body.scrolled #main-nav {
    padding-top: 20px;
    position: fixed; } }

body.scrolled-far #main-nav .nav-bg {
  opacity: 1; }

#search-popup {
  width: 100vw;
  height: 100px;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 90px;
  z-index: 13;
  box-sizing: border-box;
  padding: 0 10px;
  display: none; }
  @media (max-width: 1199px) {
    #search-popup {
      top: 45px;
      height: 50px; } }
  #search-popup.active {
    display: flex; }
  #search-popup ._inner {
    width: 100%;
    max-width: 750px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid white;
    display: flex;
    margin: -10px 0 0 0; }
    @media (max-width: 1199px) {
      #search-popup ._inner {
        margin: -5px 0 0 0; } }
  #search-popup #search_text {
    color: white;
    font-size: 36px;
    line-height: 38px;
    background-color: transparent;
    border: none;
    outline: none;
    letter-spacing: .2vw;
    width: calc(80% - 40px);
    padding: 4px 20px;
    display: block; }
    #search-popup #search_text::-webkit-input-placeholder {
      color: #666666; }
    #search-popup #search_text:-ms-input-placeholder {
      color: #666666; }
    #search-popup #search_text::-ms-input-placeholder {
      color: #666666; }
    #search-popup #search_text::placeholder {
      color: #666666; }
    @media (max-width: 1199px) {
      #search-popup #search_text {
        font-size: 25px;
        line-height: 27px;
        width: 100%;
        padding: 4px 10px; } }
  #search-popup ._icon {
    right: 30px;
    top: 10px;
    width: 24px;
    margin: 8px 20px 0 auto;
    opacity: .6; }
    #search-popup ._icon img {
      width: 100%; }
    @media (max-width: 1199px) {
      #search-popup ._icon {
        display: none; } }

#footer {
  width: 100vw;
  overflow: hidden;
  height: 360px;
  background-color: black;
  position: relative; }
  @media (max-width: 991px) {
    #footer {
      height: 90px; } }
  #footer ._logo-f {
    width: 336px; }
    @media (max-width: 991px) {
      #footer ._logo-f {
        width: 170px;
        margin-top: -20px; } }
  #footer ._cp {
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 61%;
    color: #cccccc;
    z-index: 1; }
    @media (max-width: 991px) {
      #footer ._cp {
        font-size: 11px;
        line-height: 18px; } }

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }

@keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }
